<html>
  <head>
    <meta charset="UTF-8">
    <title>Single Activity Details</title>
  </head>
  <body>
    <h1><%= @activity.title %></h1>
    <h3><%= @activity.date %></h3>
    <h3><%= @activity.type %></h3>
    <h5><%= @activity.description %></h5>
  </body>
</html>
