<html>
  <head>
    <meta charset="UTF-8">
    <title>Single Activity Details</title>
  </head>
  <body>
    <h1><%= @activity.title %></h1>
    <h3><%= @activity.date %></h3>
    <h3><%= @activity.category %></h3>
    <p><%= @activity.description %></p>
  </body>
</html>
