<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/simple-grid.scss">
    <title>Much Free, Very Wow</title>
  </head>
  <body>
    <div class="container">
      <div class="row">

        <div class="col-10">
          <h1>Much Free, Very Wow</h1>
        </div>

        <div class="col-2 right">
          <% if !logged_in? %>
            <a href="/signup"><button>Sign Up</button></a> <a href="/login"><button>Log In</button></a>
          <% else %>
            <h4>Welcome, <%= current_user.username.capitalize %></h4>
            <a href="/activities/new"><button>Add New Activity</button></a> | <a href="/logout"><button>Log Out</button></a>
          <% end %>
        </div>

      </div>


      <%= yield %>

    </div>
  </body>
</html>
